@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    padding: 0;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 90px;
    width: 95%;
    margin: 0 auto;
    max-width: 1360px;
}

.catalog {
    display: grid;
    gap: 20px;
}

@media only screen and (min-width: 600px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .catalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .catalog {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1200px) {

}