@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    padding: 0;
    margin: 0 auto;
}

main {
    padding-top: 50px;
    width: 95%;
    margin: 0 auto;
}

.catalog {
    display: grid;
}

.catalog img {
    object-fit: cover;
    width: 100%;
}