header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid gray;
}

nav {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
}

li {
    color: black;
}

h1 {
    margin: 0;
    padding: 0;
}

.icons {
    display: flex;
    gap: 10px;
    position: relative;
}

.menu,
.cart {
    cursor: pointer;
    color: black;
    width: 20px;
    height: auto;
}

.dropDown {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding-right: 20px;
    position: absolute;
    top: 50px;
    right: 0;
    width: auto;
}

.dropDown ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    nav {
        display: block;
    }

    .menu,
    .dropDown {
        display: none;
    }
}