.checkout,
.form,
.form > div {
    display: grid;
}

.form {
    gap: 20px;
}

.form > div {
    gap: 5px;
}

.form h2 {
    margin-bottom: 10px;
}

.form input,
.form select {
    padding: 10px;
}

.form select {
    padding-left: 5px;
}

.form::placeholder, 
.form select {
    color: gray;
}

.form input[type=checkbox] {
    margin-right: 10px;
}

@media only screen and (min-width: 600px) {
    .shippingInfo,
    .contact {
        grid-template-columns: 1fr 1fr;
    }

    .shippingInfo h2,
    .contact h2 {
        grid-column: span 2;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}