.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items,
.item > div {
    display: flex;
    flex-direction: column;
}

.items,
.item,
.item > div > div {
    gap: 20px;
}

.items {
    margin-top: 20px;
    width: 100%;
    max-width: 900px
}

.items p {
    margin: 0;
}

.item {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    display: grid;
    border: 1px solid;
    border-radius: 5px;
}

.item img {
    object-fit: contain;
    max-height: 150px;
    max-width: 100%;
    justify-self: center;
}

.item > div {
    gap: 10px;
}

.item > div > div {
    display: flex;
}

.main button {
    width: 100%;
    color: white;
    background-color: black;
    border: 1px solid;
    padding: 15px 0;
    cursor: pointer;
}

.main button:active {
    color: black;
    background-color: white;
}

.main p {
    margin-bottom: 0;
}