.nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product {
    display: grid;
    gap: 20px;
}

.product img {
    object-fit: contain;
    max-width: 200px;
    justify-self: center;
    align-self: center;
}

.product form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.size div {
    display: flex;
    gap: 5px;
}

.size .button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: white;
    cursor: pointer;
}

.description > * {
    margin: 0;
    padding: 0;
}

.description > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    cursor: pointer;
}

.size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.submit {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

.submit > * {
    padding: 8px 0;
    text-align: center;
}

.submit input:first-child {
    border-radius: 5px;
    border: 1px solid black;
}

.submit input:last-child {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .product {
        grid-template-columns: repeat(2, 1fr);
    }
}
