.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 10px;
}

.card img {
    object-fit: contain;
    max-height: 150px;
    width: 100%;
    margin: 20px;
}

.card p {
    margin: 0;
    padding: 0;
}

/* .card p:last-child {
    color: #744FC6;
} */

.card > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 10px 10px 2px 1px rgba(128, 128, 128, 0.2);
}

.catalog {
    display: grid;
    gap: 20px;
}

.sort {
    display: flex;
    justify-content: space-between;
}

.sort p {
    margin-top: 0;
}

.sort select {
    border: 1px solid;
    border-radius: 5px;
}

.sort label {
    margin-right: 10px;
}

@media only screen and (min-width: 600px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .catalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .catalog {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1200px) {

}